<div class="container">
    <div id="payment-container" class="w-100 d-flex flex-column align-items-center justify-content-start">
        <div class="payment-title">
            <h5>Item check out</h5>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-5 w-100 mt-5">
            <div class="col">
                <div class="customer-payment-info-container">
                    <div class="address customer-payment-info-item">
                        <label for="address-shipping">Shipping Address</label>
                        <div class="position-relative w-100">
                            <input [(ngModel)]="shippingAddress" name="shippingAddress" id="address-shipping"/>
                            <div class="icon-edit-area">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path d="M3 21L4.99998 15L16 4C17 3 19 3 20 4C21 5 21 7 20 8L8.99998 19L3 21Z"
                                        stroke="#282828" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 5L19 9" stroke="#282828" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M6 15L9 18" stroke="#282828" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="phone-number customer-payment-info-item">
                        <label for="phone-shipping">Phone number</label>
                        <div class="position-relative w-100">
                            <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" id="phone-shipping">
                            <div class="icon-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path d="M3 21L4.99998 15L16 4C17 3 19 3 20 4C21 5 21 7 20 8L8.99998 19L3 21Z"
                                        stroke="#282828" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 5L19 9" stroke="#282828" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M6 15L9 18" stroke="#282828" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="payment-method customer-payment-info-item">
                        <label for="payment-methods-shipping">Payment methods</label>
                        <select [(ngModel)]="paymentMethod" name="paymentMethod" id="payment-methods-shipping">
                            <option value="cash">Cash</option>
                            <option value="cash">Paypal</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-to-pay-container">
                    <div class="product-info">
                        <div *ngFor="let p of products" class="img-info-container">
                            <div class="img-wrapper">
                                <img [src]="p.images[0].image" alt="">
                            </div>
                            <div class="name-cate-wrapper">
                                <div class="w-100 d-flex flex-row align-items-center justify-content-between">
                                    <div class="name">{{ p.name }}</div>
                                    <div class="price"> ${{ (p.price * getQuantity(p.id)).toFixed(2) }}</div>
                                </div>
                                <div class="category">{{ p.category_name }}</div>
                                <div class="quantity">Quantity: {{ getQuantity(p.id) }}</div>
                                <div class="price1">${{ p.price }}</div>

                            </div>
                        </div>

                        
                        <div class="order-total-container">
                            <h1>ORDER TOTAL</h1>
                            <p>${{ totalPrice }}</p>
                        </div>
                    </div>

                    
                    <div class="checkout-btn-container w-100">
                        <button type="button" (click)="checkout()">CHECK OUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>