<div class="container">
  <div class="cart-container w-100">
    <h1>CART</h1>
    <div class="row g-md-4 g-2 w-100 mt-5">
      <div class="col-lg-8 col-12">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <!-- LIST CART DETAIL -->
          <div *ngFor="let p of products" class="cart-detail-container">
            <div
              class="w-100 d-flex flex-row align-items-center justify-content-end"
            >
              <button type="button" (click)="removeFromCart(p.id)" class="btn-close"></button>
            </div>
            <div class="cart-detail-wrapper row row-cols-2 w-100">
              <div class="col">
                <div class="img-prd-name-container">
                  <img *ngFor="let i of p.images | slice:0:1"
                    [src]="p.images[0].image"
                    alt=""
                    width="200"
                    height="200"
                  />
                  <div
                    class="d-flex flex-column justify-content-start align-items-start gap-4"
                  >
                    <h5 class="prd-name">{{ p.name }}</h5>
                    <p class="prd-category">{{ p.category_name }}</p>
                    <p class="prd-price">${{ p.price }}</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="total-quantity-container">
                  <div class="total-price">
                    ${{ (p.price * getQuantity(p.id)).toFixed(2) }}
                  </div>
                  <div class="quantity-container">
                    <button type="button" (click)="decreaseQuantity(p.id)">-</button>
                        <span class="quantity">{{ getQuantity(p.id) }}</span>
                    <button type="button" (click)="increaseQuantity(p.id)">+</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="payment-container">
          <div class="payment-header">
            <h5>Tổng tiền</h5>
            <p class="total-price">${{totalPrice}}</p>
          </div>
          <div class="btn-payment-container">
            <button>THANH TOÁN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
